{% extends 'base.html' %}
{% block title %}
ALBARANES
{% endblock %}

{% block body %}
<h1 class="title">ALBARANES</h1>
<div class="container">
  <form class="albaran-form" method="POST">
    {{ form.hidden_tag() }}
    {% for i in range(5) %}
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="producto{{ i }}">Producto:</label>
        {{ form['producto' + i|string]() }}
        {% for error in form['producto' + i|string].errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-md-6">
        <label for="cantidad{{ i }}">Cantidad:</label>
        {{ form['cantidad' + i|string]() }}
        {% for error in form['cantidad' + i|string].errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <label for="proveedor">Proveedor:</label>
    {{ form.proveedor() }}
    <br>
    <input type="submit" value="Enviar Productos" />
  </form>
</div>
{% endblock %}
